.header{
	margin: 10px auto;
	height: 50px;
	width: 100%;
	background-color: rgb(189, 199, 203);
	text-align: center;
	padding: 15px;
}

#lista{
	margin: 10px auto;
	width: 100%;
	list-style: none;
	padding: 0;
}
.li{
	background-color: rgba(189, 199, 203, 0.79);
	border: 1px solid darkgray;
	padding: 3px 0;
	margin: 2px auto;
}
.glyphicon-trash{
	float: right;
	padding-right: 10px;
}
input{
	width: 3%;
}
button i{
	font-size: 20px;
	padding: 0 5px;
} 
